#!/usr/bin/env python
config = dict(
        model_dir="/d2/dgagne/gfs/",
        obs_dir="/d2/dgagne/mesonet_nc_2/",
        data_dir="/d2/dgagne/merged_data_mesonet/",
        site_list_file="/d2/dgagne/static_data/site_list/int_obs_sites.asc",
        model_name="gfs",
        model_file_format="*00.nc",
        obs_var=["SRAD_Mean", "SRAD_SD", "CLRI_Mean", "ETRC_Mean"],
        start_date="20150604",
        end_date="20150831",
        date_format="%Y%m%d",
        t_range=(10, 27),
        y_range=(33.0, 38.0),
        x_range=(-104.0, -94),
        neighbor_radius=3,
        time_subset_type="hours",
        space_subset_type="coordinate",
        model_vars=("T", "av_dswrf_sfc", "cloud_cover"),
        model_ghi_var="av_dswrf_sfc",
        stats=("mean", "max", "min", "correlate"),
        mode="train",
        match_method="nearest",
        land_files=["/d2/dgagne/GTOPO30_HYDRO_1K_terrain.nc"],
        land_variables=[["dem", "slope", "asp"]],
        out_format="csv",
        queries=["av_dswrf_sfc_f >= 0"])
