config = dict(
model_dir = "/d2/dgagne/gfs/",
obs_dir = "/d2/dicast/nt/der_data/obs/int_obs/",
data_dir = "/d2/dgagne/merged_data_multimodel/",
site_list_file = "/d2/dgagne/static_data/site_list/int_obs_sites_solar.asc",
model_name = "gfs",
obs_var = "av_dswrf_sfc",
start_date = "20150605",
end_date = "20150611",
date_format = "%Y%m%d",
t_range = (0,48),
y_range = (26.0,43.0),
x_range = (-125.0, -93.0),
time_subset_type = "index",
space_subset_type = "coordinate",
model_vars = ("T", "av_dswrf_sfc"),
stats = ("mean", "max", "min", "median", "correlate", "gradient"),
mode = "train",
match_method = "nearest",
land_files = ["/d2/dgagne/GTOPO30_HYDRO_1K_terrain.nc"],
land_variables = [["dem", "slope", "asp"]],
out_format="csv",
queries=["av_dswrf_sfc  < 30000", "av_dswrf_sfc_f >= 0"])
