config = dict(
model_dir = "/d2/dgagne/grid_int_fcst/",
obs_dir = "/d2/dicast/nt/der_data/obs/int_obs/",
data_dir = "/d2/dgagne/merged_data_sw/",
site_list_file = "/d2/dgagne/static_data/site_list/int_obs_sites.asc",
obs_var = "av_dswrf_sfc",
start_date = "20150110",
end_date = "20150214",
date_format = "%Y%m%d",
t_range = (0,72),
y_range = (26.0,43.0),
x_range = (-125.0, -93.0),
time_subset_type = "index",
space_subset_type = "coordinate",
model_vars = ("T", "dewpt", "cloud_cover", "av_dswrf_sfc"),
stats = ("mean", "max", "min", "median", "correlate", "gradient"),
mode = "train",
match_method = "nearest",
queries=["av_dswrf_sfc  < 30000","av_dswrf_sfc_f >= 0"])
