config = dict(
model_dir = "/d2/dgagne/grid_int_fcst/",
obs_dir = "/d2/dicast/nt/der_data/obs/int_obs/",
data_dir = "/d2/dgagne/merged_data/",
obs_var = "av_dswrf_sfc",
start_date = "20141101",
end_date = "20141223",
date_format = "%Y%m%d",
t_range = (0,72),
y_range = (37.0,40.0),
x_range = (-124.0,-119.0),
time_subset_type = "index",
space_subset_type = "coordinate",
model_vars = ("T", "dewpt", "cloud_cover", "av_dswrf_sfc"),
mode = "train",
match_method = "nearest",
queries=["av_dswrf_sfc < 30000","av_dswrf_sfc_f >= 0","(valid_hour_pst > 6) & (valid_hour_pst < 18)"])
